<div ng-controller="CardlistController">
<form class="form-inline" role="form">
    <div class="form-group">
        <label class="control-label" for="cardlistdisplaymode">Display list as:</label>
        <select class="form-control" id="cardlistdisplaymode"
            ng-model="currentMode"
            ng-options="displayMode.name for displayMode in displayModes">
        </select>
    </div>
</form>
<pagination ng-model="currentPage" total-items="cards.length"
            items-per-page="currentMode.pageAt"></pagination>
<div class="cardlistcontainer" ng-switch on="currentMode.name">
    <div ng-switch-when="Simple">
        <ul>
        <li ng-repeat="card in cards | paginate:currentPage:currentMode.pageAt">
            <a card-link="card"></a>
        </li>
        </ul>
    </div>
    <div ng-switch-when="Detailed">
        <table class="table table-striped">
            <tr ng-repeat="card in cards | paginate:currentPage:currentMode.pageAt">
                <td><a card-link="card"></a></td>
                <td>{{card.type}}</td>
                <td card-symbols="{{card.manaCost}}"></td>
            </tr>
        </table>
    </div>
    <div ng-switch-when="Spoiler">
        <div ng-repeat="card in cards | paginate:currentPage:currentMode.pageAt"
            class="cardspoiler">
            <p><a card-link="card"></a> <span card-symbols="{{card.manaCost}}"></span></p>
            <p>{{card.type}}</p>
            <p>{{card.text}}</p>
            <!-- TODO: p/t -->
        </div>
    </div>
</div>
</div>
